{{ define "Bekijkbestelling" }}
{{ template "Header" }}
{{ template "Menu"  }}
<h2> Registered </h2>
<table border="1">
    <thead>
    <th>Klant informatie</th>
    <tr>
        <td>klantnummer</td>
        <td>naam</td>
        <td>voornaam</td>
        <td>postcode</td>
        <td>huisnummer</td>
        <td>huisnummer_toevoeging</td>
        <td>geboortedatum</td>
        <td>geslacht</td>
        <td>bloedgroep</td>
        <td>rhesusfactor</td>
        <td>beroepsrisicofactor</td>
        <td>inkomen</td>
        <td>kredietregistratie</td>
        <td>opleiding</td>
        <td>opmerking</td>

    </tr>
    </thead>
    <tbody>
    {{ range .Klantinfo }}
    <tr>
        <td>{{ .Klantnummer.Value }}</td>
        <td>{{ .Naam.Value }}</td>
        <td>{{ .Voornaam.Value }}</td>
        <td>{{ .Postcode.Value }}</td>
        <td>{{ .Huisnummer.Value }}</td>
        <td>{{ .Huisnummer_toevoeging.Value }}</td>
        <td>{{ .Geboortedatum.Value }}</td>
        <td>{{ .Geslacht.Value }}</td>
        <td>{{ .Bloedgroep.Value }}</td>
        <td>{{ .Rhesusfactor.Value }}</td>
        <td>{{ .Beroepsrisicofactor.Value }}</td>
        <td>{{ .Inkomen.Value }}</td>
        <td>{{ .Kredietregistratie.Value }}</td>
        <td>{{ .Opleiding.Value }}</td>
        <td>{{ .Opmerking.Value }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>

        <br>

<table border="1">
    <thead>
    <th>Medewerker informatie</th>
    <tr>
        <td>Medewerkersnummer</td>
        <td>Naam</td>
        <td>Voorletters</td>
        <td>Functie</td>
        <td>Fte</td>
        <td>Datum_in_dienst</td>
        <td>Postcode</td>
        <td>Huisnummer</td>
        <td>Huisnummer_toevoeging</td>

    </tr>
    </thead>
    <tbody>
    {{ range .Medewerkerinfo }}
    <tr>
        <td>{{ .Medewerkersnummer.Value }}</td>
        <td>{{ .Naam.Value }}</td>
        <td>{{ .Voorletters.Value }}</td>
        <td>{{ .Functie.Value }}</td>
        <td>{{ .Fte.Value }}</td>
        <td>{{ .Datum_in_dienst.Value }}</td>
        <td>{{ .Postcode.Value }}</td>
        <td>{{ .Huisnummer.Value }}</td>
        <td>{{ .Huisnummer_toevoeging.Value }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ template "Footer" }}
{{ end }}

