{{ define "IndexBestelling" }}
{{ template "Header" }}
{{ template "Menu"  }}
<h2> Registered </h2>
<table border="1">
    <thead>
    <tr>

        <td>bestelnummer</td>
        <td>status</td>
        <td>besteldatum</td>
        <td>afbetaling_doorlooptijd</td>
        <td>afbetaling_maandbedrag</td>
        <td>klantnummer</td>
        <td>verkoper</td>
        <td>Bekijk bestelling</td>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
    <tr>
        <td>{{ .Bestelnummer }}</td>
        <td>{{ .Status }}</td>
        <td>{{ .Besteldatum }}</td>
        <td>{{ .Afbetaling_doorlooptijd }}</td>
        <td>{{ .Afbetaling_maandbedrag }}</td>
        <td>{{ .Klantnummer }}</td>
        <td>{{ .Verkoper }}</td>
        <td><a href="/bekijkbestelling?bestelnummer={{ .Bestelnummer }}&klantnr={{ .Klantnummer }}&verkoper={{ .Verkoper }}">View</a></td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ template "Footer" }}
{{ end }}