{{ define "Login" }}
{{ template "Header" }}
{{ template "Menu" }}
<h2>Login</h2>
<form method="POST" action="authenticate">
    <label> Username </label><input type="text" name="username" /><br />
    <label> Password </label><input type="password" name="password" /><br />
    <input type="submit" value="login" />
</form>
{{ template "Footer" }}
{{ end }}