{{ define "Login" }}
{{ template "Header" }}
<h2>Login</h2>
<form method="POST" action="authenticate">
    <label> Username </label><input type="text" name="username" value="Jansen" /><br />
    <label> Password </label><input type="password" name="password"  value="2018-05-21"/><br />
    <input type="submit" value="login" />
</form>
{{ template "Footer" }}
{{ end }}