{{ define "Doorlooptijd" }}
{{ template "Header" }}
{{ template "Menu"  }}
<a href="/"> Probeer nog maals</a>

<h1>Doorlooptijd mogelijk van {{ . }} en deze moet minimaal 3 zijn. </h1>

{{ template "Footer" }}
{{ end }}