{{ define "Failed" }}
{{ template "Header" }}
{{ template "Menu" }}
<div class="alert alert-danger mt-5" role="alert">
    Password failed <a href="/" class="alert-link">Try again</a>
</div>
{{ template "Footer" }}
{{ end }}