{{ define "Footer" }}

<script type="text/javascript" src="/Public/Scripts/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="/Public/Scripts/popper.min.js"></script>
<script type="text/javascript" src="/Public/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/Public/Scripts/compress.min.js"></script>
<script type="text/javascript" src="/Public/Scripts/main.min.js"></script>
<script type="text/javascript" src="/Public/Vendor/DataTables/datatables.min.js"></script>
<script>
    $(document).ready( function () {
        $('.dataTable').DataTable({
            "scrollX": true
        });
    } );
</script>
</div>
</body>
</html>
{{ end }}