{{ define "Footer" }}

<script type="text/javascript" src="/Public/Scripts/compress.min.js"></script>
<script type="text/javascript" src="/Public/Scripts/main.min.js"></script>
</div>
</body>
</html>
{{ end }}