{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Public/Css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Public/Vendor/fontawesome-free-5.5.0-web/css/all.css" type="text/css">

    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="/Public/Vendor/DataTables/datatables.min.css"/>

    <!-- <link rel="stylesheet" href="/Public/Css/main.css" type="text/css"> -->

    <title>Vita Intellectus</title>
</head>
<body>
<div class="container">
<h1>Vita Intellectus</h1>
{{ end }}