{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="/Public/Css/main.css" type="text/css">

    <title>Vita Intellectus</title>
    <meta charset="UTF-8" />
</head>
<body>
<div class="container">
<h1>Vita Intellectus</h1>
{{ end }}