{{ define "Menu" }}
<a href="/logout">Log out</a> |
<a href="/newklant">Nieuwe Klant</a>
<a href="/indexbestelling">Alle bestellingen</a>
<a href="/indexklanten">Alle klanten</a>
<a href="/indexmodules">Alle modules</a>
<a href="/newbestelling">Nieuwe Bestelling</a>
{{ end }}