{{ define "Newklant" }}
{{ template "Header" }}
{{ template "Menu" }}
<h2>Nieuwe klant</h2>
<form method="POST" action="insertklant">
    <label> naam </label><input type="text" name="naam" /><br />
    <label> voornaam </label><input type="text" name="voornaam" /><br />
    <label> postcode </label><input type="text" name="postcode" /><br />
    <label> huisnummer </label><input type="number" name="huisnummer" /><br />
    <label> huisnummer_toevoeging </label><input type="text" name="huisnummer_toevoeging" /><br />
    <label> geboortedatum </label><input type="date" name="geboortedatum" /><br />
    <label> geslacht </label><input type="text" name="geslacht" /><br />
    <label> bloedgroep </label><input type="text" name="bloedgroep" /><br />
    <label> rhesusfactor </label><input type="text" name="rhesusfactor" /><br />
    <label> beroepsrisicofactor </label><input type="text" name="beroepsrisicofactor" /><br />
    <label> inkomen </label><input type="text" name="inkomen" /><br />
    <label> kredietregistratie </label><input type="text" name="kredietregistratie" /><br />
    <label> opleiding </label><input type="text" name="opleiding" /><br />
    <label> opmerkingen </label><input type="text" name="opmerkingen" /><br />
    <input type="submit" value="Save klant" />
</form>
{{ template "Footer" }}
{{ end }}