{{ define "Newklant" }}
{{ template "Header" }}
{{ template "Menu" }}
<h2>Nieuwe klant</h2>
<form method="POST" action="insertklant">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label> naam </label>
                <input type="text" class="form-control" name="naam" />
            </div>
            <div class="form-group">
                <label> voornaam </label>
                <input type="text" class="form-control" name="voornaam" />
            </div>
            <div class="form-group">
                <label> postcode </label>
                <input type="text" class="form-control" name="postcode" />
            </div>
            <div class="form-group">
                <label> huisnummer </label>
                <input type="number" class="form-control" name="huisnummer" />
            </div>
            <div class="form-group">
                <label> huisnummer_toevoeging </label>
                <input type="text" class="form-control" name="huisnummer_toevoeging" />
            </div>
            <div class="form-group">
                <label> geboortedatum </label>
                <input type="date" class="form-control" name="geboortedatum" />
            </div>
            <div class="form-group">
                <label> geslacht </label>
                <input type="text" class="form-control" name="geslacht" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label> bloedgroep </label>
                <input type="text" class="form-control" name="bloedgroep" />
            </div>
            <div class="form-group">
                <label> rhesusfactor </label>
                <input type="text" class="form-control" name="rhesusfactor" />
            </div>
            <div class="form-group">
                <label> beroepsrisicofactor </label>
                <input type="text" class="form-control" name="beroepsrisicofactor" />
            </div>
            <div class="form-group">
                <label> inkomen </label>
                <input type="text" class="form-control" name="inkomen" />
            </div>
            <div class="form-group">
                <label> kredietregistratie </label>
                <input type="text" class="form-control" name="kredietregistratie" />
            </div>
            <div class="form-group">
                <label> opleiding </label>
                <input type="text" class="form-control" name="opleiding" />
            </div>
            <div class="form-group">
                <label> opmerkingen </label>
                <input type="text" class="form-control" name="opmerkingen" />
            </div>
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Save klant" />
        </div>
    </div>
</form>
{{ template "Footer" }}
{{ end }}