{{ define "Totaleopbreng" }}
{{ template "Header" }}
{{ template "Menu"  }}
<a href="/"> Probeer nog maals</a>

<p>De totale opbrengst van de klant is te weinig.

<table class="table table-sm table-hover dataTable">
    <tr>
        <td>Totalekosten</td>
        <td> &euro; {{ .Totalekosten }},-</td>
    </tr>

    <tr>
        <td>Totaleopbrengst</td>
        <td> &euro; {{ .Totaleopbrengst }},-</td>
    </tr>

    <tr>
        <td>Min</td>
        <td> __________________</td>
    </tr>

    <tr>
        <td>Uitkomst</td>
        <td> &euro; -{{ .Betaalbaar }},-</td>

    </tr>
</table>


{{ template "Footer" }}
{{ end }}