{{ define "Totaleopbreng" }}
{{ template "Header" }}
{{ template "Menu"  }}
<a href="/"> Probeer nog maals</a>

<h1>Totale opbreng van {{ . }}  is kleiner dan de totaal prijs, aankoop mag niet doorgaan.</h1>

{{ template "Footer" }}
{{ end }}