{{ define "Totaleopbreng" }}
{{ template "Header" }}
{{ template "Menu"  }}
<a href="/"> Probeer nog maals</a>

<h3>De totale opbreng van de klant - zijn inkomen zijn totale kosten is -{{ . }},- euro te weinig. Dit is onvoldoende om de bestelling te plaatsen.</h3>

{{ template "Footer" }}
{{ end }}